body {
  font-family: 'Sen', sans-serif;
  font-weight: bold;
}

.img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: top;
}

button {
  width: 150px;
}

.dark-background {
  background-color: rgb(31,30,35);
}