body {
  font-family: 'Sen', sans-serif;
}

h1 {
  font-size: 50px;
}

.btn {
  width: 150px;
}

.btn-margin {
  margin-top: 35px;
  margin-bottom: 125px;
}

.btn-margin-more {
  margin-top: 90px;
}

.bold-font {
  font-weight: bold;
}

.subscribe-now {
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 45px;
}

.form-control::placeholder {
  color: black;
  opacity: 1;
}

/* ///// COLORS ///// */

.lead {
  color: #495DDA;
}

.dark-background {
  background-color: rgb(22,21,26);
}

.blue-background {
  background-color: rgb(33,63,255);
  border: none;
}

/* ///// SHAPES ///// */

.name-bubble {
  margin-top: 35px;
  width: 100%;
  height: 190px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.left::after {
  content: "";
  position: absolute;
  display: block;
  top: -25px;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid rgb(22,21,26);
}

.right::after {
  content: "";
  position: absolute;
  display: block;
  top: -25px;
  right: 45px;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid rgb(22,21,26);
}

.learn-more-bubble {
  border-radius: 10px;
}

.arrow {
  width: 28px;
}

.line {
  height: .5px;
  background-color: gray;
}

.rounded-border {
  border-radius: 25px;
}

.blue-shape {
  border-top-left-radius: 25px;
  /* z-index: -1; */
}

@media (min-width: 320px) {
  .blue-shape {
    margin: -24px 0 0 -24px;
    width: 100px;
  }
}

@media (min-width: 768px) {
  .blue-shape {
    margin: -23px 0 0 -24px;
    width: 120px;
  }
}

/* ///// BLOG CARDS ///// */

.card-text-sm {
  font-size: 18px;
}

.rounded-card {
  border-radius: 10px;
}

.date-badge {
  width: 46px;
  height: 63px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: 4px solid rgb(33,63,255);
  background-color: white;
  color: black;
  left: 6%;
  top: 46%;
}

#date-badge-day {
  margin-top: -8px;
  font-size: 20px;
  font-weight: bold;
}

#date-badge-month {
  margin-top: -3px;
  font-size: 12px;
  font-weight: 200;
}

#blog-one-card {
  height: 38rem;
}

#blog-one-img {
  height: 60%;
  object-fit: cover;
}

#blog-one-card h2 {
  font-size: 35px;
}

#blog-one-card p {
  font-size: 17px;
}

@media (min-width: 320px) {
  .img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
  }
}

@media (min-width: 375px) {
  .img {
    height: 400px;
  }
}

@media (min-width: 768px) {
  .img {
    height: 420px;
    object-position: 50% 6%;
  }
}

@media (min-width: 992px) {
  .img {
    height: 200px;
  }
}

@media (min-width: 1024px) {
  .img {
    height: 340px;
  }
}