body {
  background-color: #0e0d12;
  color: #fefefe;
  font-family: Sen;
}

#container {
  padding: 0px;
}

.row {
  margin: 0px;
}

/*Banner Section*/

#banner {
  display: flex;
  padding-top: 100px;
  min-height: 90vh;
  height: auto;
  margin-bottom: 50px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    352deg,
    rgba(48, 22, 195, 1) 10%,
    rgba(246, 184, 47, 1) 29%,
    rgba(49, 26, 180, 1) 45%,
    rgba(0, 0, 0, 1) 68%
  );
}

#bannerTextSection {
  padding-left: 3vw;
  padding-right: 3vw;
  margin-bottom: 50px;
}

#bannerP1 {
  font-size: 30px;
  font-weight: 600;
  background: rgb(226, 101, 12);
  background: linear-gradient(
    318deg,
    rgba(226, 101, 12, 1) 56%,
    rgba(228, 221, 155, 1) 98%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#bannerText h1 {
  font-size: 60px;
  margin-bottom: 50px;
  font-weight: 700;
}

#bannerP2 {
  font-size: 20px;
  margin-bottom: 50px;
}

#bannerImgSection {
  object-fit: contain;
  padding-right: 3vw;
}

#bannerImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#bannerBackground {
  width: 100%;
}

#getStartedButton {
  width: 220px;
  height: 70px;
  border: 0px;
  background-color: var(--blue-secondary);
  transition: 0.3s;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
}

#getStartedButton:hover {
  background-color: #001dd4;
}

/*Trusted Brands Section*/

#trustedBrandsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 3vw;
  padding-right: 3vw;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 70px;
}

#trustedBrandsSection h1 {
  font-weight: 700;
  margin-bottom: 50px;
}

#brandLogosContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 25px;
  row-gap: 25px;
  justify-content: space-between;
  grid-auto-rows: 150px;
}

.brandLogo {
  background-color: #1f1e23;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
}

.brandLogo img {
  width: 100px;
  height: 100px;
}

/*Icons Section*/

#iconsSectionMobile {
  display: none;
}

#iconsSection {
  background-color: #ffffff;
  color: black;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 25px;
  column-gap: 50px;
  grid-auto-rows: minmax(300px, auto);
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 70px;
  padding-bottom: 70px;
}

.iconImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 6px;
  margin-bottom: 70px;
}

.icon h2 {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 20px;
}

.icon p {
  font-weight: 500;
  font-size: 18px;
}

/*Footer Section*/

#footerSectionSmall {
  display: none;
}

#footerSectionWide {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1839c4;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 3vw;
  padding-right: 3vw;
  text-align: center;
}

#footerSectionWide p {
  font-weight: 600;
  margin-bottom: 30px;
}

#footerSectionWide h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 70px;
}

#footerSectionWide button {
  border-radius: 50px;
  border: 0px;
  background-color: #213fff;
  width: 220px;
  height: 70px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  transition: 0.4s;
  cursor: pointer;
}

#footerSectionWide button:hover {
  background-color: rgba(48, 22, 195, 1);
}

/*Media Queries*/

@media only screen and (min-width: 1000px) {
  #iconsSection {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media only screen and (max-width: 992px) {
  #banner {
    padding-top: 0px;
    background: none;
    position: relative;
  }

  #bannerTextSection {
    padding-left: 12vw;
    padding-right: 12vw;
    margin-bottom: 100px;
  }

  #bannerImgSection {
    padding-left: 12vw;
    padding-right: 12vw;
    margin-bottom: 100px;
  }

  #bannerBackground {
    height: 70vw;
    width: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    bottom: 0;
    background: linear-gradient(
      352deg,
      rgba(48, 22, 195, 1) 10%,
      rgba(246, 184, 47, 1) 29%,
      rgba(49, 26, 180, 1) 45%,
      rgba(0, 0, 0, 1) 68%
    );
  }

  #trustedBrandsSection {
    padding-left: 12vw;
    padding-right: 12vw;
  }

  #iconsSection {
    padding-left: 12vw;
    padding-right: 12vw;
  }

  #footerSection {
    padding-left: 12vw;
    padding-right: 12vw;
  }
}

@media only screen and (max-width: 700px) {
  #bannerTextSection {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  #bannerImgSection {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  #bannerBackground {
    height: 110vw;
  }

  #brandLogosContainer {
    grid-auto-rows: 150px;
  }

  #trustedBrandsSection {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  #iconsSection {
    padding-left: 5vw;
    padding-right: 5vw;
    column-gap: 25px;
  }

  #footerSectionWide {
    display: none;
  }

  #footerSectionSmall {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1839c4;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: center;
  }

  #footerSectionSmall p {
    font-weight: 600;
    margin-bottom: 30px;
  }

  #footerSectionSmall h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  #footerSectionSmall button {
    border-radius: 50px;
    border: 0px;
    background-color: #213fff;
    width: 230px;
    height: 70px;
    color: white;
    font-weight: 700;
  }

  #footerSectionSmall button:hover {
  }
}

@media only screen and (max-width: 603px) {
  #iconsSection {
    display: none;
  }

  #iconsSectionMobile {
    background-color: #ffffff;
    color: black;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 70px;
    padding-bottom: 20px;
  }

  .icon {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }

  .iconLeft {
    margin-right: 20px;
  }

  .iconRight {
    display: flex;
    flex-direction: column;
  }

  .iconRight h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .iconRight p {
    font-size: 18px;
  }
}

#navbar {
  background-color: #ffffff;
  width: 200px;
  height: auto;
  z-index: 10;
}

#hamburger {
  margin-bottom: 0px;
}

.nav-link {
  color: black !important;
}
