:root {
   --black: #0f0d12; 
   --blue-primary: royalblue;
   --blue-secondary: mediumblue;
   --dark-grey: #27262b;
   --badge-color: lavender;
   --white: #fdfdfd;
   --light-grey: lightslategray;
}
body {
   font-family: 'Sen', sans-serif;
}
.bg-black {
   background-color: var(--black);
}
.bg-grey {
   background-color: var(--dark-grey);
}
.bg-blue-primary {
   background-color: var(--blue-primary);
}
.bg-blue-secondary {
   background-color: var(--blue-secondary);
}
.bg-badge {
   background-color: var(--badge-color);
}
.text-white {
   color: var(--white);
}
.text-grey {
   color: var(--light-grey);
}
.text-blue {
   color: var(--blue-primary);
}
.width-100 {
   width: 100%;
}
.border-radius {
   border-radius: 1rem;
}
.border-bottom-grey {
  border-bottom: 1px solid var(--light-grey);
}
.border-bottom-white {
   border-bottom: 1px solid var(--white);
 }
 .border-left {
    border-left: 2px solid var(--blue-primary);
 }
 ul {
    list-style: none;
 }
 ul,li {
    margin: 0;
    padding: 0;
 }
 li img {
    margin-right: 1rem;
 }
 .accordion-button:not(.collapsed) {
   background-color: var(--blue-secondary);
   color: var(--white);
}
