/* variables */
:root {
    --black: #0f0d12; 
    --blue-primary: #4169e1;
    --blue-secondary: mediumblue;
    --blue-third: lightskyblue;
    --dark-grey: #27262b;
    --white: #fdfdfd;
    --light-grey: lightslategray;
    --badge-color: lavender;
    --button-hover: #001dd4;
 }

/***************************/
/***** global styles *******/
/***************************/

 .btn {
   transition: 0.4s all;
   padding: 1rem 2.5rem;
 }
 .btn:hover {
   background-color: var(--button-hover) !important;
 }
 /* remove blue focus halo from buttons */
 .btn:focus {
   outline: none !important;
   box-shadow: none !important;
 }
 .btn:active {
   transform: scale(0.9);
 }
 
