/* https://fonts.google.com/specimen/Sen?preview.text=Get%20perfect%20app%20for%20your%20project&preview.text_type=custom */
body{
  font-family: Sen;
}
.main{
  background-color: sandybrown; 
  border-top: 1px solid royalblue;
  height: 100vh;
  /* put this inline? space-between */
  justify-content: space-between;

}
.topRow{
  border: 1px solid darkcyan;
}
.arrowButtons {
  border: 1px solid green;
  display: flex;
  justify-content: center;
}

.middleRow{
  border: 3px solid purple;
  /* width: 350px; */
}

.quoteText{
  border: 1px solid magenta;
  /* position: absolute; */
  z-index: 1; 
  text-align:center;
  object-position: right center;
  object-fit: scale-down;
  font-weight: bold;
  margin-top: 15px;
  
}

.quoteImg {
  border: 1px solid palevioletred;
  position: absolute;
  /* this is close, but I think I want relative size? */
  margin: -355px -236px -250px -250px;
  /*height: 1000px;
  width: 1000px; */
  /* margin: -1rem; */
  height: 60rem;
  width: 60rem;
  /* position: relative; */
}

.paragraph {
  margin: 5px 25px;
  text-align: center;
}

.clientStarsContainer{
  width: 300px;
}

.portraitFrame {
  border: 1px solid blue;
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.portraitImage{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 50%
}

.bottomRow{
  border: 1px solid peru;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .buttonBoxContainer{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.buttonBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
}

.brandButton{
  height: 100%;
  width: 300px;
  height: 90px;
  margin: 10px;
  padding: 1.4rem;
  background: white;
  border: none;
  box-shadow: 0px 20px 30px -15px rgba(0, 0, 0, 0.468);
}

.brandButtonImg{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.starsBox{
  background-color: blue;
}

@media screen and (min-width: 768px){
  .buttonBox{
    width:650px
  }
}

@media screen and (min-width: 992px){
  .buttonBox{
    width: 100%;
    justify-content: space-between;
  }

  /* this will need to be moved to smaller @media */
  .carousel-item{
    background:rgba(0, 0, 0, 0.214);
    position: relative;
  }

  /* this will need to be moved to smaller @media
  remember to check for cascading afger */
  .carousel-container{
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
  }
}

