/* https://fonts.google.com/specimen/Sen?preview.text=Get%20perfect%20app%20for%20your%20project&preview.text_type=custom */

@import url('./styles.css');

body{
  font-family: Sen;
  width: 100% !important;
}

html{
  width: max-content !important;
}

#hamburgerCont{
  color: white;
}

#navCont{
  width: 100% !important;
  background-color: black;
}

#logo{
  margin-left: 30px;
}

#mobileHamburger{
  padding-left: 15px;
}

.line{
  width: 100vw;
  position: relative;
  top: 700px;
  border: 1px solid rgba(0,0,0,.125);
}

.main {
  margin-top: 80px;
  width: 375px;
}

.topRow{
  width: 100%;
  margin-left: 0;
}

.arrowButtons {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.testText{
  color: var( --blue-primary)
}

.carousel-control-prev{
  position: absolute;
  bottom: 80%;
  right: 50%;
  transform: translate(110px, -150px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: unset;
  background-color:var( --blue-primary);
  height: 52px;
  width: 52px;
  border-radius: 50%;
} 

.carousel-control-next {
  position: absolute;
  margin-right: 70px;
  bottom: 80%;
  right: 50%; 
  transform: translate(125px, -150px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: unset;
  background-color:var( --blue-primary);
  height: 52px;
  width: 52px;
  border-radius: 50%;
}

.prevButton:hover{
  background-color: #001dd4;
}

.nextButton:hover{
  background-color:  #001dd4;
}

.carousel-control-prev-icon {
  width: 52px;
  height: 52px;
  background-image: url("../images/lArrow.svg");  
}

.carousel-control-next-icon {
  width: 52px;
  height: 52px;
  background-image: url("../images/rArrow.svg")
}

h6{
  font-weight: bold;
}

.middleRow{
  width: 100%;
  margin-left: 3px;
}
.quoteContainer{
  width: 350px;
}

.quoteText{
  z-index: 1; 
  text-align:center;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom:50px;
  line-height: 97%;
}

.quoteImg {
  position: absolute;
  margin: -310px -190px -250px -250px;
  height: 64rem;
  width: 64rem;

}

.paragraph {
  margin: 0 5px 20px 5px;
  text-align: center;
}

.clientStarsContainer{
  margin-top: 30px;
  width: 300px;
  background-color: white;
}

.portraitFrame {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.portraitImage{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

h5{
  font-weight: bold;
}

.starNameBox{
  padding-top: 8px;
}

.bottomRow{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:125px;
}

.buttonBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 350px;
}

.brandButton{
  height: 100%;
  width: 350px;
  height: 90px;
  margin: 12px;
  padding: 1.4rem;
  background: white;
  border: none;
  box-shadow: 0px 20px 30px -15px rgba(0, 0, 0, 0.468);
}

.brandButtonImg{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#headerRight{
  padding-right:0px !important;
}

@media (min-width: 768px){
  .line{
    width: 100vw;
    position: relative;
    top: 587px;
    border: 1px solid rgba(0,0,0,.125);
  }

  .main{
    width: 767px;
  }

  .carousel-control-prev{
    transform: translate(305px, -150px);
  } 

  .carousel-control-next {
    transform: translate(125px, -150px);
  }

  .quoteContainer{
    width: 765px;
  }

  .quoteText{
    margin-right: 115px;
  }

  .quoteImg {
    margin: -310px -110px -250px -250px;
  }

  .paragraph {
    margin: 0 80px 20px 80px;
    text-align: center;
  }

  .buttonBox{
    width: 650px;
    margin-left: 70px;
    margin-bottom: 50px;
  }
}

@media (min-width: 992px){

  .carousel-control-prev {
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(-62px, 165px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    } 

  .carousel-control-next {
    /* width: 0%; */
    position: absolute;
    /* margin-right: 70px; */
    bottom: 0%;
    right: 0%; 
    transform: translate(135px, 165px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .buttonBox{
    width: 100%;
    margin:0;
  } 
}


